/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fff; /* Fundo branco */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Personalização do Banner */
.banner {
    background-color: #333; /* Cor de fundo do banner */
    color: #fff; /* Cor do texto */
    text-align: center;
    padding: 100px 0; /* Espaçamento interno */
}

.banner h2 {
    font-size: 36px; /* Tamanho da fonte do título */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.banner p {
    font-size: 20px; /* Tamanho da fonte do texto */
    margin-bottom: 30px; /* Espaçamento inferior */
}

.banner .btn {
    background-color: #fff; /* Cor de fundo do botão */
    color: #333; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    text-decoration: none; /* Remover sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave de cor ao passar o mouse */
}

.banner .btn:hover {
    background-color: #555; /* Cor de fundo do botão ao passar o mouse */
}

/* Limita a largura das imagens dentro do carrossel */
.destaque-slider img {
    max-width: 100%;
    height: auto;
}

.produtos {
    padding: 50px 0;
    text-align: center;
}

.produto {
    display: inline-block;
    width: 300px;
    margin: 20px;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto h3 {
    margin-top: 10px;
}

.produto p {
    font-weight: bold;
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px 0; /* Aumenta o espaçamento no rodapé */
}

/* Estilos para a seção de Novidades */
.novidades {
    padding: 50px 0;
    text-align: center;
}

.novidades h2 {
    margin-bottom: 30px;
    font-size: 32px;
}

.produto {
    display: inline-block;
    width: calc(33.33% - 20px);
    margin: 0 10px 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.produto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.produto p {
    font-size: 18px;
    margin-bottom: 20px;
}

.produto .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.produto .btn:hover {
    background-color: #555;
}

/* Estilos para a tela modal */
.modal {
    display: none; /* Por padrão, a tela modal está oculta */
    position: fixed; /* Posição fixa para cobrir toda a tela */
    top: 50%; /* Posiciona o topo da modal no meio da tela */
    left: 50%; /* Posiciona a esquerda da modal no meio da tela */
    transform: translate(-50%, -50%); /* Move a modal para o centro */
    background-color: rgba(0, 0, 0, 1); /* Fundo semi-transparente */
    width: 80%; /* Largura da modal */
    max-width: 600px; /* Largura máxima da modal */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; 
    z-index: 999; /* Coloca a modal na frente de outros elementos */
}

.modal-content {
    background-color: #fff; /* Fundo branco da área de conteúdo */
    padding: 10px; /* Espaçamento interno */
    border-radius: 10px; 
}
